.container {
    margin:0 auto;
    max-width: 1408px;
}
section {
    width: 1920px;
    margin: 0 auto;
}

@media (max-width: 1920px) {
    section {
        width: 100%;
    }
}

:root{
    --background-color:linear-gradient(to left, #2DBEFC,#50C577 );

}
.bg_new{
    background: var(--background-color);
}
.butHover:hover{
    background:var(--background-color);
}
.menu_ ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu_ ul li {
    margin-left: 1rem;
}

.menu_ ul li:first-child {
    margin-left: 0;
}

.menu_ ul li a {
    position: relative;
    text-decoration: none;
    padding-bottom: 2px;
    color: #252525;
    transition: color 0.3s;
}

.menu_ ul li a::before,
.menu_ ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.menu_ ul li a::before {
    top: 0;
    bottom: 0;
    background: linear-gradient(to top, #50C577, #2DBEFC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    z-index: 1; 
}

.menu_ ul li a::after {
    bottom: -2px;
    height: 2px;
    background: linear-gradient(to top, #50C577, #2DBEFC);
    width: 0;
}

.menu_ ul li a:hover::before {
    opacity: 1;
}

.menu_ ul li a:hover::after {
    width: 100%;
}
.butGreen{
    background: linear-gradient(135deg, #3EED8B 0%, #0A9949 100%);
}
.borderInput{
border: 1px solid;
border-image-source: linear-gradient(90deg, #50C577 0%, #2DBEFC 100%);


}
.tableSlide button {
    position: relative;
    text-decoration: none; 
    padding-bottom: 2px; 
    color: #252525; 
    transition: color 0.3s;
    font-size:1.125rem;
}

.tableSlide button::before,
.tableSlide button::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    transition: all 0.3s ease-in-out; 
}

.tableSlide button::before {
    top: 0;
    bottom: 0;
    background: linear-gradient(to top, #50C577, #2DBEFC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    z-index: -1; 
}

.tableSlide button::after {
    bottom: -2px;
    height: 2px;
    background: linear-gradient(to top, #50C577, #2DBEFC);
    width: 0; 
}

.tableSlide button:hover::before {
    opacity: 1; 
}

.tableSlide button:hover::after {
    width: 100%; 
}

.banner img{
    object-fit: cover;
    width:full;
    height:full;
}
.whydocter img{
    object-fit: cover;
    width:full;
    height:full;   
}
.iconPlus img{
    width:1.25rem;
    height:1.25rem;
}
.Capcha input{
    width:1.25rem;
    height:1.25rem;
}
.input-container {
    position: relative;
    
}

.input-container input {
 
    /* padding: 0.813rem;
    padding: */
    box-sizing: border-box;
    border:1px solid #EBEBEB;
}
.borderinput{
    border:1px solid #EBEBEB;
}
.input-container label {
    position: absolute;
    top: 40%;
    left: 12px;
    transform: translateY(-25%);
    background-color: #fff;
    padding: 0 5px;
    transition: 0.3s;
    color: #aaa;
    pointer-events: none;
}

.input-container.focused label,
.input-container input:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    color: #2891CC;
    font-size: 0.75rem;
    font-weight: bold;
    
}
.input-container input:focus {
    border-color: #2891CC;
    outline: none; 
}

.content p{
    transition: opacity 0.5s ease-in-out;
}
.whoImage img{
    width:100%;
    height:100%;
}
.tuvan img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.butOrange{
    background: linear-gradient(180deg, #FFB469 0%, #E57709 100%);

}
.bg_docter{
    background: linear-gradient(90deg, #9DDCB0 0%, #84D0FD 100%);

}
.bg_docter img{
    width:100%;
    height:100%;
    object-fit: cover;  
}
.bg_vector img{
    width:100%;
    height:100%;
    object-fit: cover;   
}

.butNextPre{
border: 2px solid;
border-image-source: linear-gradient(90deg, #50C577 0%, #2DBEFC 100%);


}

.feeback img{
    width:100%;
    height:100%;
    object-fit: cover;  
}
.plusFB img{
    width:100%;
    height:100%; 
}